[core]
  excludesfile = ~/.gitignore
  editor = nvim
  ignorecase = false
[init]
	defaultBranch = master
[push]
  default = simple
[color]
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
  ui = auto
[hub]
  protocol = ssh
[github]
  user = voidcircle
  email = voidcircle080111@gmail.com
[user]
  name = Seol SO
  email = voidcircle080111@gmail.com
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
